* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.centrar, .menu-container .menu {
  position: relative;
  display: inline-block; }
  .centrar img, .menu-container .menu img {
    padding: 5px;
    display: block;
    max-width: 100%; }
  .centrar h2, .menu-container .menu h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; }

.header {
  background-color: coral;
  display: flex; }
  .header .logo {
    width: 125px; }
  .header .navbar {
    display: flex; }
    .header .navbar ul {
      display: flex;
      align-items: end; }
      .header .navbar ul li {
        margin: 5px; }

.carousel-container {
  max-width: 100%;
  margin-top: 10px;
  position: relative; }
  .carousel-container .carousel-slide {
    display: flex;
    overflow: hidden; }
    .carousel-container .carousel-slide img {
      width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      position: absolute;
      top: 0;
      left: 0; }
  .carousel-container .carousel-slide img.active {
    opacity: 1;
    z-index: 2; }
  .carousel-container .carousel-slide img.next {
    opacity: 0;
    z-index: 1; }

.menu-container {
  display: grid;
  margin-top: 455px;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px, 0px; }

.title {
  padding-top: 230px; }

.container-pages {
  display: grid;
  grid-template-columns: 0.5fr 1.3fr; }
  .container-pages .main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .container-pages .main .card {
      margin: 5px;
      display: flex;
      width: 300px;
      height: 400px;
      align-items: center;
      border: 2px solid cornflowerblue;
      flex-direction: column; }
      .container-pages .main .card img {
        display: flex;
        align-items: center;
        width: 200px; }
      .container-pages .main .card h6 {
        margin: 5px; }
      .container-pages .main .card a {
        padding-top: 15px; }
        .container-pages .main .card a h5 {
          margin-top: 6px;
          border: 2px solid orange;
          border-radius: 5px; }
      .container-pages .main .card h4 {
        display: flex;
        justify-content: center; }
      .container-pages .main .card h1 {
        margin-top: 200px; }
  .container-pages .aside {
    margin-top: 120px; }

.footer {
  margin-top: 50px; }
  .footer img {
    padding: 5px;
    width: 50px; }
  .footer ul {
    display: flex;
    justify-content: center; }
    .footer ul li {
      list-style: none;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .footer ul li a {
        justify-content: center;
        text-decoration: none; }
